{{#spark-content-container}}
  
  {{#if showDocs}}
    {{! Project page }}
    {{#link-to "index"}}
      {{spark-header/sparks-logotype
        local-class="logo"
        invert=invertLogoColors
      }}
    {{/link-to}}
  {{else}}
    {{! Spark page }}
    <a href="http://ember-sparks.com">
      {{spark-header/sparks-logotype
        local-class="logo"
        invert=invertLogoColors
      }}
    </a>
  {{/if}}

  <ul local-class="links">
    <li local-class="li">
      <a 
        local-class="link component-list-button" 
        {{action "toggleComponents" true on="mouseEnter"}}
        {{action "toggleComponents" false on="mouseLeave"}}
      >
        {{componentsTitle}}
        {{spark-header/component-menu
          local-class="component-menu"
          show=showComponents
        }}
      </a>
    </li>

    {{! Only for landing page: }}
    {{#if showDocs}}
      <li local-class="li">
        {{#link-to "docs" local-class="link"}}
          Docs
        {{/link-to}}
      </li>
    {{/if}}

    {{#if githubURL}}
      <li local-class="li">
        <a 
          local-class="link"
          href={{githubURL}}
          target="_blank"
        >
          GitHub
        </a>
      </li>
    {{/if}}

  </ul>
{{/spark-content-container}}

