<span local-class="option-name">
  {{key}}
</span>
=

{{#if valueIsBoolean}}

  <button 
    local-class="bool-button {{value}}"
    onclick={{action "toggleBoolValue"}}
  >
    {{value}}
  </button>

{{else}}

  <span local-class="editable-wrapper">
    {{content-editable
      local-class="option-value"
      tagName="span"
      value=value
      type="text"
      allowNewlines=false
      placeholder="null"
    }}

    <span 
      local-class="fake-cursor"
      class="blink-cursor"
    ></span>
  </span>

{{/if}}
